.main_container{
    width: 100%;
    height: 100vh;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/0bd3a69d-6790-4edc-9818-1c8c558946c2/e1a8a32a-a07a-4bae-965a-9b218881763e/IN-en-20220329-popsignuptwoweeks-perspective_alpha_website_medium.jpg");

}



.modal{
    width: 33%;
    height: 20rem;
    position: fixed;
    top: 5rem;
    left: 34%;
    background-color: antiquewhite;
    border: 2px solid black;
    z-index: 1;
}